:root{
    --salmon-theme: rgb(255, 162, 151);
    --light-pink-theme: rgb(255, 230, 230);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 7fr;
}


/* Header Section:: */

#header{
    background: var(--salmon-theme);
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

#header-options {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-btn{
    all: unset;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    gap: 8px;
    border-radius: 25px;
    padding: 10px;
}


/* Sidebar Section:: */

#sidebar{
    background: var(--light-pink-theme);
    grid-row: 1/4;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

#taskSection,
#serviceSection{
    display: flex;
    flex-direction: column;
    padding: clamp(1rem, 20px, 1.5rem);
    gap: clamp(1rem, 20px, 1.5rem)
}

#projectSection{
    display: flex;
    flex-direction: column;
    padding: clamp(.5rem, 16px, 1.5rem);
    gap: clamp(1rem, 20px, 1.5rem);
}

#addProjects{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#projectList{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#projectList button{
    font-size: 1.5rem;
}

#serviceSection{
    justify-content: flex-end;
}

#addTaskBtn{
    background-color: rgb(255, 162, 151);
}

#addTaskBtn:hover{
    background-color: rgb(255, 187, 180);
}

.sidebar-btn{
    all: unset;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 25px;
    padding: 10px;
}

.sidebar-btn:hover{
    background-color: rgb(245, 218, 218);

}


/* Main Section:: */

#main{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: clamp(1rem, 20px, 1.5rem);
    /* Will need to re-apply gap here as well */
}


/* Default Main Section */
#defaultMessageDiv{
    background: var(--light-pink-theme);
    display: flex;
    flex-direction: column;
    gap: clamp(.5rem, 10px, 1rem);
    text-align: center;
    padding: 20px;
}

#defaultButtonsContainer{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#defaultMessageDiv button{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: clamp(1rem, 20px, 1.5rem);
    border: none;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
}

#defaultAddProjectBtn{
    background-color: rgb(15, 202, 15);
}

#defaultAddProjectBtn:hover{
    background-color: rgb(17, 167, 17);
}

#defaultAddTaskBtn{
    background: var(--salmon-theme);
}

#defaultAddTaskBtn:hover{
    background-color: salmon;
}


/* Create Task Form */
#taskFormModal{
    background: var(--light-pink-theme);
    padding: clamp(1rem, 20px, 1.5rem) clamp(1rem, 20px, 1.5rem) 0 clamp(1rem, 20px, 1.5rem);
    width: 60%;
    max-width: 100%;
    border: 1px var(--salmon-theme) solid;
    border-radius: 15px;
}

/* #taskForm{
    
} */

#formBox1{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid var(--salmon-theme);
    padding: 0 5px 10px 5px;
}

#formBox1 input{
    all: unset;
}

#selectionBox{
    display: flex;
    gap: 15px;
}

#formBox2{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 5px 5px 5px;
}

/* style buttons for form */


/* Task Items */

#taskItem{
    display: flex;
    background-color: var(--light-pink-theme);
    width: 60%;
    max-width: 100%;
    border: 1px var(--salmon-theme) solid;
    border-radius: 15px;
    padding: 20px;
    gap: 15px;
}

#completedCheckbox{
    width: 20px;
    height: 20px;
}

#completedCheckbox:hover{
    cursor: pointer;
}

#taskItemInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

#taskItemInfo input{
    all: unset;
    width: 40%;
}

#taskItemButtons{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

#taskItemButtons button{
    all: unset;
    font-size: 1.5rem;
}

#taskItemButtons button:hover{
    cursor: pointer;
}

#deleteTaskBtn i{
    color: red;
}

#editTaskBtn i{
    color: var(--salmon-theme)
}





/* Create Project Form */

#projectFormOverlay{
    background-color: rgba(167, 164, 164, 0.719);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#projectFormModal{
    background: var(--light-pink-theme);
    padding: clamp(1rem, 20px, 1.5rem);
    border: 1px var(--salmon-theme) solid;
    border-radius: 15px;
}

#projectForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* padding: clamp(1rem, 20px, 1.5rem); */
}

#projectForm input{
    all: unset;
    text-align: center;
}

#projectBtnContainer{
    display: flex;
    gap: 10px;
}